@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap");
/*****************
mixins
*****************/
/*****************
basic styles
*****************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #000000;
  background: #f7f7f7;
  letter-spacing: 0px;
}

ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

a, p {
  font-size: 0.8rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.btn, .btn-yellow, .contact .container .contact-form button, .btn-blue, .btn-blue-transparent {
  padding: 15px 30px;
  font-size: 0.8rem;
  transition: 0.4s ease;
  border-radius: 3px;
  border: 2px solid #fff;
  display: inline-block;
}
.btn:hover, .btn-yellow:hover, .contact .container .contact-form button:hover, .btn-blue:hover, .btn-blue-transparent:hover {
  color: #313131;
  background: #fff;
}
.btn-blue, .btn-blue-transparent {
  background: #506df5;
  border: 2px solid #506df5;
}
.btn-blue:hover, .btn-blue-transparent:hover {
  color: #506df5;
  background: transparent;
}
.btn-blue-transparent {
  background: transparent;
  color: #506df5;
}
.btn-blue-transparent:hover {
  background: #506df5;
  color: #fff;
}
.btn-yellow, .contact .container .contact-form button {
  background: #fde21c;
  border: 2px solid #fde21c;
  color: #313131;
}
.btn-yellow:hover, .contact .container .contact-form button:hover {
  color: #fde21c;
  background: transparent;
}

.container {
  width: 65%;
  margin: auto;
}
@media (max-width: 767px) {
  .container {
    width: 90%;
  }
}

section {
  padding: 30px 0;
}

/*****************
header
*****************/
header {
  width: 100%;
  position: fixed;
  height: 13vh;
  top: 0;
  background: #313131;
  color: #fff;
  padding: 10px 0px 20px 0px;
}
header .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0.5rem 1rem;
}
@media (max-width: 767px) {
  header .row {
    width: 100%;
  }
}
header .row img {
  width: 12%;
  display: inline-block;
  margin-right: 10px;
}
header .row .logo a {
  font-size: 1.1rem;
}
@media (max-width: 767px) {
  header .row .logo a {
    display: none;
  }
}
header .row .column {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
header .row .column:nth-child(2) {
  justify-content: space-evenly;
}
@media (max-width: 767px) {
  header .row .column:nth-child(2) p {
    display: none;
  }
}
header .row .column:nth-child(3) {
  justify-content: flex-end;
}
@media (max-width: 767px) {
  header .row .column:nth-child(3) {
    display: none;
  }
}
header .row:last-child {
  justify-content: center;
}
@media (max-width: 767px) {
  header .row:last-child {
    display: none;
  }
}
header .row:last-child ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
header .row:last-child ul li {
  font-size: 0.6rem;
  margin-right: 1rem;
  font-weight: bold;
  position: relative;
}
header .row:last-child ul li i {
  color: #fff;
}
header .row:last-child ul li:hover ul {
  display: block;
}
header .row:last-child ul li ul {
  display: none;
  position: absolute;
  width: 20rem;
  top: 1rem;
  left: -1rem;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #313131;
}
header .row:last-child ul li ul li a {
  padding: 1rem;
  font-size: 1rem;
  display: block;
}
header .row:last-child ul li #drop-two {
  width: 25rem;
}

/*****************
welcome
*****************/
.welcome {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/header.jpg);
  background-position: center;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 767px) {
  .welcome {
    height: 100vh;
    background-size: cover;
  }
}
.welcome h1 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .welcome h1 {
    font-size: 1.5rem;
    margin-top: 100px;
    margin-bottom: 15px;
  }
}
.welcome p {
  font-size: 1rem;
  color: #fff;
  width: 38%;
  text-align: center;
  margin-bottom: 40px;
  font-weight: 300;
}
@media (max-width: 767px) {
  .welcome p {
    width: 90%;
  }
}
@media (max-width: 767px) {
  .welcome div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.welcome .btn, .welcome .btn-blue, .welcome .btn-blue-transparent, .welcome .btn-yellow, .welcome .contact .container .contact-form button, .contact .container .contact-form .welcome button {
  margin: 5px;
}

/*****************
prices
*****************/
.prices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.prices .card {
  border: 1px solid #d3d3d3;
  padding: 1.5rem;
  flex: 0 0 33.33%;
  text-align: center;
  transition: 0.4s ease;
  background: #f7f7f7;
}
@media (max-width: 767px) {
  .prices .card {
    flex: 0 0 100%;
  }
}
.prices .card:hover {
  transform: scale(110%);
}
@media (max-width: 767px) {
  .prices .card:hover {
    transform: none;
  }
}
.prices .card h2 {
  font-weight: 300;
  font-size: 2.4rem;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 767px) {
  .prices .card h2 {
    font-size: 1.5rem;
  }
}
.prices .card h2 span {
  font-size: 1rem;
}
.prices .card h2 .price {
  font-size: 5rem;
}
@media (max-width: 767px) {
  .prices .card h2 .price {
    font-size: 2.5rem;
  }
}
.prices .card p {
  font-weight: 400;
  color: #585858;
}
.prices .card .btn, .prices .card .btn-blue, .prices .card .btn-blue-transparent, .prices .card .btn-yellow, .prices .card .contact .container .contact-form button, .contact .container .contact-form .prices .card button {
  margin: 25px auto;
}

/*****************
our advantages
*****************/
.our-advantages {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/our-advantages.jpg);
  background-position: center;
  background-size: cover;
  height: 80vh;
}
@media (max-width: 767px) {
  .our-advantages {
    height: auto;
  }
}
.our-advantages h2 {
  font-size: 5rem;
  font-weight: 500;
  color: #fff;
  text-align: center;
}
@media (max-width: 767px) {
  .our-advantages h2 {
    font-size: 3rem;
  }
}
.our-advantages h2::after {
  display: block;
  content: "";
  width: 120px;
  height: 4px;
  background: #fde21c;
  margin: 0 auto 70px auto;
}
@media (max-width: 767px) {
  .our-advantages h2::after {
    width: 50px;
    margin-top: 20px;
  }
}
.our-advantages .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.our-advantages .container .card {
  background: #fff;
  flex: 0 0 31%;
  border-radius: 0.5rem;
  border: 1px solid #d3d3d3;
}
@media (max-width: 767px) {
  .our-advantages .container .card {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
}
.our-advantages .container .card img {
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}
.our-advantages .container .card .text {
  padding: 2rem;
}
.our-advantages .container .card .text h3 {
  font-size: 1.4rem;
  font-weight: 500;
  padding-bottom: 20px;
}
.our-advantages .container .card .text p {
  font-weight: 400;
  color: #585858;
  line-height: 1.5;
  margin-bottom: 30px;
}

/*****************
team
*****************/
.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.team h2 {
  flex: 0 0 100%;
  font-size: 5rem;
  font-weight: 300;
  text-align: center;
  padding-bottom: 50px;
}
@media (max-width: 767px) {
  .team h2 {
    font-size: 3rem;
  }
}
.team .card {
  flex: 0 0 48.7%;
  display: flex;
  background: white;
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .team .card {
    flex: 0 0 100%;
    flex-direction: column;
  }
}
.team .card .image {
  flex: 50%;
}
@media (max-width: 767px) {
  .team .card .image {
    flex: 0 0 100%;
  }
}
.team .card .image img {
  width: 100%;
  margin-bottom: -4px;
}
.team .card .text {
  flex: 40%;
  padding: 1.8rem;
}
@media (max-width: 767px) {
  .team .card .text {
    flex: 0 0 100%;
  }
}
.team .card .text h3 {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 767px) {
  .team .card .text h3 {
    font-size: 1rem;
  }
}
.team .card .text h4 {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  padding: 10px 0;
  font-weight: 300;
}
.team .card .text p {
  font-family: "Roboto", sans-serif;
  line-height: 1.5rem;
  font-weight: 300;
}
.team .card .text .stars i {
  color: #fd830f;
  font-size: 1.3rem;
  padding-top: 1rem;
  margin: 0.2rem;
}

/*****************
services
*****************/
.services {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/bg2.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
}
.services .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.services .container .card {
  border: 1px solid #d3d3d3;
  padding: 1.5rem;
  text-align: center;
  background: transparent;
  padding: 3rem;
  flex: 0 0 50%;
}
@media (max-width: 767px) {
  .services .container .card {
    flex: 0 0 100%;
  }
}
.services .container .card i {
  color: #fde21c;
  font-size: 5rem;
  margin-bottom: 1rem;
}
.services .container .card h3 {
  font-size: 2.4rem;
  font-weight: 500;
  padding: 10px;
}
@media (max-width: 767px) {
  .services .container .card h3 {
    font-size: 1.6rem;
  }
}
.services .container .card p {
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 0;
}
.services .container .card .btn, .services .container .card .btn-blue, .services .container .card .btn-blue-transparent, .services .container .card .btn-yellow, .services .contact .container .card .contact-form button, .contact .services .container .card .contact-form button, .services .contact .container .contact-form .card button, .contact .services .container .contact-form .card button {
  margin: 10px 0;
}
.services .container .text {
  flex: 0 0 45%;
  padding: 1rem 2rem 1rem 1rem;
}
@media (max-width: 767px) {
  .services .container .text {
    flex: 0 0 100%;
    padding: 1rem 0;
  }
}
.services .container .text h4 {
  font-weight: 500;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  padding: 1rem 0 1rem 0;
}
@media (max-width: 767px) {
  .services .container .text h4 {
    font-size: 1.2rem;
  }
}
.services .container .text p {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 2rem;
}

/*****************
why us
*****************/
.why-us {
  padding: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 767px) {
  .why-us {
    padding: 60px 10px;
  }
}
.why-us h3 {
  flex: 0 0 32%;
  font-weight: 500;
  line-height: 1.3;
  font-size: 2.4rem;
  align-self: center;
}
@media (max-width: 767px) {
  .why-us h3 {
    flex: 0 0 100%;
    font-size: 1.6rem;
  }
}
.why-us p {
  flex: 0 0 32%;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
@media (max-width: 767px) {
  .why-us p {
    flex: 0 0 100%;
    margin-top: 30px;
  }
}

/*****************
contact
*****************/
.contact-bar {
  background: #313131;
  padding: 80px;
  text-align: center;
}
@media (max-width: 767px) {
  .contact-bar {
    padding: 50px 0;
  }
}
.contact-bar .btn, .contact-bar .btn-blue, .contact-bar .btn-blue-transparent, .contact-bar .btn-yellow, .contact-bar .contact .container .contact-form button, .contact .container .contact-form .contact-bar button {
  margin: 0 5px;
}
@media (max-width: 767px) {
  .contact-bar .btn, .contact-bar .btn-blue, .contact-bar .btn-blue-transparent, .contact-bar .btn-yellow, .contact-bar .contact .container .contact-form button, .contact .container .contact-form .contact-bar button {
    margin: 8px;
  }
}
.contact .container {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 767px) {
  .contact .container {
    padding: 50px 0;
    width: 95%;
  }
}
.contact .container .contact-form {
  flex: 0 0 25%;
  padding: 0 15px;
}
@media (max-width: 767px) {
  .contact .container .contact-form {
    flex: 0 0 100%;
  }
}
.contact .container .contact-form input {
  width: 100%;
  margin-bottom: 2rem;
  color: #585858;
  background-color: transparent;
  border: 1px dotted #585858;
  padding: 1rem;
}
.contact .container .contact-form textarea {
  width: 100%;
  color: #585858;
  background-color: transparent;
  border: 1px dotted #585858;
  padding: 1rem;
}
.contact .container .contact-form button {
  margin: 1rem auto;
  display: block;
  font-weight: bold;
}
.contact .container .contact-form button:hover {
  background: transparent;
  color: #000000;
}
.contact .container .contact-info-1 {
  flex: 0 0 25%;
  padding: 0 15px;
}
@media (max-width: 767px) {
  .contact .container .contact-info-1 {
    flex: 0 0 100%;
  }
}
.contact .container .contact-info-1 h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
  padding: 10px 0;
}
.contact .container .contact-info-1 p {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 15px;
  padding: 10px 0;
}
.contact .container .contact-categories {
  flex: 0 0 25%;
  padding: 0 15px;
}
@media (max-width: 767px) {
  .contact .container .contact-categories {
    flex: 0 0 100%;
  }
}
.contact .container .contact-categories h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
  padding: 10px 0;
}
.contact .container .contact-categories ul {
  padding: 10px 15px;
  letter-spacing: 0px;
}
.contact .container .contact-categories ul li {
  padding: 10px 15px;
  font-size: 1rem;
  line-height: 1;
}
.contact .container .contact-categories ul li::before {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  font-size: 0.6rem;
  padding-right: 15px;
  vertical-align: 0.1rem;
}
.contact .container .contact-info-2 {
  flex: 0 0 25%;
  padding: 0 15px;
}
@media (max-width: 767px) {
  .contact .container .contact-info-2 {
    flex: 0 0 100%;
  }
}
.contact .container .contact-info-2 img {
  width: 80px;
  padding-bottom: 1rem;
}
.contact .container .contact-info-2 p {
  line-height: 1.7;
  padding: 10px 0;
  margin-bottom: 15px;
  font-weight: 300;
}
.contact .container .contact-info-2 .contact-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.contact .container .contact-info-2 .contact-set i {
  flex: 0 0 10%;
  color: #012f5b;
}
.contact .container .contact-info-2 .contact-set h4 {
  flex: 0 0 90%;
  padding: 10px 10px;
  font-size: 1rem;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 0px;
  font-family: "Roboto", sans-serif;
}
.contact .container .contact-info-2 .contact-set h4:last-child {
  color: #012f5b;
}

/*****************
footer
*****************/
footer {
  background: #313131;
  text-align: center;
  padding: 60px;
}
footer p {
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
