//https://mobirise.com/html-templates/simple-html5-template/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&family=Roboto:wght@100;300;400;500;600;700;&display=swap');
$primary: #313131;
$secondary: #fde21c;
$tertiary: #506df5;
$darkblue: #012f5b;
$lightgray: #d3d3d3;
$text: #585858;
$white: #fff;
$black: #000000;
$orange: #fd830f;
$bg: #f7f7f7;
$fontSize: 16px;
$fontFamily: 'Montserrat', sans-serif;
$bodyFont: 'Roboto', sans-serif;
$transition: .4s ease;
$padding: 4rem 0;

/*****************
basic styles
*****************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: $fontSize;
    font-family: $fontFamily;
    color: $black;
    background: $bg;
		letter-spacing: 0px;
}

a {
	color: $white;
	text-decoration: none;
}

a, p {
	font-size: 0.8rem;
	font-weight: bold;
	font-family: $bodyFont;
}

.btn {
	padding: 15px 30px;
	font-size: 0.8rem;
	transition: $transition;
	border-radius: 3px;
	border: 2px solid $white;
	&:hover {
		color: $primary;
		background: $white;
	}
}

.btn-blue {
	@extend .btn;
	background: $tertiary;
	border: 2px solid $tertiary;
	&:hover {
		color: $tertiary;
		background: transparent;
	}
}

.container {
	width: 70%;
	margin: auto;
}

/*****************
header
*****************/
header {
	width: 100%;
	position: fixed;
	height: 13vh;
	top: 0;
	background: $primary;
	color: $white;
	padding: 10px 0px 20px 0px;
	.row {
		display: flex;
		padding: 0.5rem 1rem;
		img {
			width: 12%;
			display: inline-block;
			margin-right: 10px;
		}
		.logo a {
			font-size: 1.1rem;
		
		}
		.column {
			flex: 1;
			display: flex;
			align-items: center;
			text-align: center;
			&:nth-child(2) {
				justify-content: space-evenly;
			}
			&:nth-child(3) {
				justify-content: flex-end;
			}
		}
		&:last-child {
			justify-content: center;
			ul {
				list-style: none;
				display: flex;
				justify-content: center;
				li {
					font-size: 0.6rem;
					margin-right: 1rem;
					font-weight: bold;
					position: relative;
					i {
						color: $white;
					}
					&:hover ul {
						display: block;
					}
					ul {
						display: none;
						position: absolute;
						width: 20rem;
						top: 1rem;
						left: -1rem;
						padding-top: 20px;
						padding-bottom: 20px;
						background: $primary;
						li a {
							padding: 1rem;
							font-size: 1rem;
							display: block;
						}
					}
					#drop-two {
						width: 25rem;
					}
				}
			}
		}
	}
}

/*****************
welcome
*****************/
.welcome {
	background: linear-gradient(rgba($black, 0.6),rgba($black, 0.6)), url(../img/header.jpg);
	background-position: center;
	height: 80vh;
	// margin-top: 12vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	h1 {
		font-size: 2.5rem;
		color: $white;
		margin-bottom: 30px;
	}
	p {
		font-size: 1rem;
		color: $white;
		width: 38%;
		text-align: center;
		margin-bottom: 40px;
		font-weight: 300;
	}
	.btn {
		margin: 5px;
	}
}