//https://mobirise.com/html-templates/simple-html5-template/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');
$primary: #313131;
$secondary: #fde21c;
$tertiary: #506df5;
$darkblue: #012f5b;
$lightgray: #d3d3d3;
$text: #585858;
$white: #fff;
$black: #000000;
$orange: #fd830f;
$bg: #f7f7f7;
$fontSize: 16px;
$fontFamily: 'Montserrat', sans-serif;
$bodyFont: 'Roboto', sans-serif;
$transition: .4s ease;
$padding: 4rem 0;

/*****************
basic styles
*****************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: $fontSize;
    font-family: $fontFamily;
    color: $black;
    background: $bg;
		letter-spacing: 0px;
}

a {
	color: $white;
	text-decoration: none;
}

a, p {
	font-size: 0.8rem;
	font-weight: bold;
	font-family: $bodyFont;
}

.btn {
	padding: 15px 30px;
	font-size: 0.8rem;
	transition: $transition;
	border-radius: 3px;
	border: 2px solid $white;
	display: inline-block;
	&:hover {
		color: $primary;
		background: $white;
	}
}

.btn-blue {
	@extend .btn;
	background: $tertiary;
	border: 2px solid $tertiary;
	&:hover {
		color: $tertiary;
		background: transparent;
	}
}
.btn-transparent-blue {
	@extend .btn-blue;
	background: transparent;
	color: $tertiary;
	&:hover {
		background: $tertiary;
		color: $white;
	}
}

.container {
	width: 65%;
	margin: auto;
}

/*****************
header
*****************/
header {
	width: 100%;
	position: fixed;
	height: 13vh;
	top: 0;
	background: $primary;
	color: $white;
	padding: 10px 0px 20px 0px;
	.row {
		display: flex;
		padding: 0.5rem 1rem;
		img {
			width: 12%;
			display: inline-block;
			margin-right: 10px;
		}
		.logo a {
			font-size: 1.1rem;
		
		}
		.column {
			flex: 1;
			display: flex;
			align-items: center;
			text-align: center;
			&:nth-child(2) {
				justify-content: space-evenly;
			}
			&:nth-child(3) {
				justify-content: flex-end;
			}
		}
		&:last-child {
			justify-content: center;
			ul {
				list-style: none;
				display: flex;
				justify-content: center;
				li {
					font-size: 0.6rem;
					margin-right: 1rem;
					font-weight: bold;
					position: relative;
					i {
						color: $white;
					}
					&:hover ul {
						display: block;
					}
					ul {
						display: none;
						position: absolute;
						width: 20rem;
						top: 1rem;
						left: -1rem;
						padding-top: 20px;
						padding-bottom: 20px;
						background: $primary;
						li a {
							padding: 1rem;
							font-size: 1rem;
							display: block;
						}
					}
					#drop-two {
						width: 25rem;
					}
				}
			}
		}
	}
}

/*****************
welcome
*****************/
.welcome {
	background: linear-gradient(rgba($black, 0.6),rgba($black, 0.6)), url(../img/header.jpg);
	background-position: center;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	h1 {
		font-size: 2.5rem;
		color: $white;
		margin-bottom: 30px;
	}
	p {
		font-size: 1rem;
		color: $white;
		width: 38%;
		text-align: center;
		margin-bottom: 40px;
		font-weight: 300;
	}
	.btn {
		margin: 5px;
	}
}

/*****************
prices
*****************/
.prices {
	display: flex;
	justify-content: center;
	padding: 50px;

	.card {
		border: 1px solid $lightgray;
		padding: 1.5rem;
		flex: 0 0 33.33%;
		text-align: center;
		transition: $transition;
		background: $bg;
		&:hover {
			transform: scale(110%);
		}

		h2 {

			font-weight: 300;
			font-size: 2.4rem;
			margin-bottom: 20px;
			font-family: $fontFamily;
			span {
				font-size: 1rem;
			}
			.price {
				font-size: 5rem;
			}
		}
		p {
			font-weight: 400;
			font-size: 0.8rem;
			color: $text;
		}
		.btn {
			margin: 25px auto;
		}
	}
}

/*****************
our advantages
*****************/
.our-advantages {
	background: linear-gradient(rgba($black, 0.6),rgba($black, 0.6)), url(../img/our-advantages.jpg);
	background-position: center;
	background-size: cover;
	height: 80vh;
	padding: 50px;
	h2 {
		font-size: 5rem;
		font-weight: 500;
		color: $white;
		text-align: center;
		&::after {
			display: block;
			content: '';
			width: 120px;
			height: 4px;
			background: $secondary;
			margin: 0 auto 70px auto;
		}
	}
	.container {
		display: flex;
		justify-content: space-between;
		.card {
			background: $white;
			flex: 0 0 31%;
			border-radius: 0.5rem;
			border: 1px solid $lightgray;
		
			img {
				width: 100%;
				border-radius: 0.5rem 0.5rem 0 0 ;
			}
			.text {
				padding: 2rem;
				h3 {
					font-size: 1.4rem;
					font-weight: 500;
					padding-bottom: 20px;
					
				}
				p {
					font-weight: 400;
					font-size: 0.8rem;
					color: $text;
					line-height: 1.5;
					margin-bottom: 30px;
				}
			}
		}
	}
}

/*****************
team
*****************/
.team {
	display: flex;
	padding: 50px;
	flex-wrap: wrap;
	justify-content: space-between;
	h2 {
		flex: 0 0 100%;
		font-size: 5rem;
		font-weight: 300;
		text-align: center;
		padding-bottom: 50px;
	}
	.card {
		flex: 0 0 48.7%;
		display: flex;
		background: white;
		box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.1);
		margin-bottom: 30px;
		.image {
			flex: 50%;
			img {
				width: 100%;
				margin-bottom: -4px;
			}
		}
		.text {
			flex: 40%;
			padding: 1.8rem;
			h3 {
				font-size: 1.2rem;
				font-family: $bodyFont;
			}
			h4 {
				font-size: 1rem;
				font-family: $bodyFont;
				padding: 10px 0;
				font-weight: 300;
			}
			p {
				font-size: 0.8rem;
				font-family: $bodyFont;
				line-height: 1.5rem;
				font-weight: 300;
			}
			.stars {
				i {
					color: $orange;
					font-size: 1.3rem;
					padding-top: 1rem;
					margin: 0.2rem;
				}
			}
		}
	}
}

/*****************
services
*****************/
.services {
	background: linear-gradient(rgba($black, 0.6),rgba($black, 0.6)), url(../img/bg2.jpg);
	background-position: center;
	background-size: cover;
	padding: 50px;
	color: $white;
	.container {
		display: flex;
		justify-content: space-between;
		.card {
		border: 1px solid $lightgray;
		padding: 1.5rem;
		text-align: center;
		background: transparent;
		padding: 3rem;
		flex: 0 0 50%;
		i {
			color: $secondary;
			font-size: 5rem;
			margin-bottom: 1rem;
		}
		h3 {
			font-size: 2.4rem;
			font-weight: 500;
			padding: 10px;
		}
		p {
			line-height: 1.4;
			font-size: 1rem;
			font-weight: 400;
			padding: 10px 0;
		}
		.btn {
			margin: 10px 0;
		}

		}
		.text {
			flex: 0 0 45%;
			padding: 1rem 2rem 1rem 1rem;
			h4 {
				font-weight: 500;
				font-size: 1.4rem;
				font-family: $fontFamily;
				line-height: 1;
				padding: 1rem 0 1rem 0; 
			}
			p {
				font-size: 1rem;
				line-height: 1.5;			
				font-weight: 400;
				margin-bottom: 2rem;
			}
		}
	}
}

/*****************
why us
*****************/
.why-us {
	padding: 80px;
	display: flex;
	justify-content: space-between;
	h3 {
		flex: 0 0 32%;
		font-weight: 500;
		line-height: 1.3;
		font-size: 2.4rem;
		align-self: center;
	}
	p {
		flex: 0 0 32%;
		font-size: 1rem;
		line-height: 1.5;
		font-weight: 400;
	}
}